@using BoardGameManager.Web.Constants
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    @Styles.Render(BundlePaths.Css.Normalize)
    @Styles.Render(BundlePaths.Css.JQueryUi)
    @Styles.Render(BundlePaths.Css.JQueryJScrollPane)
    @Styles.Render(BundlePaths.Css.Main)

    @Scripts.Render(BundlePaths.JavaScript.Modernizer)
    @Scripts.Render(BundlePaths.JavaScript.Knockout)
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    
    @RenderBody()

    @Scripts.Render(BundlePaths.JavaScript.JQuery)
    @Scripts.Render(BundlePaths.JavaScript.JQueryUi)
    @Scripts.Render(BundlePaths.JavaScript.Amplify)
    @Scripts.Render(BundlePaths.JavaScript.NetEyeWaitIndicator)
    @Scripts.Render(BundlePaths.JavaScript.Underscore)
    @Scripts.Render(BundlePaths.JavaScript.JQueryMouseWheel)
    @Scripts.Render(BundlePaths.JavaScript.JQueryJScrollPane)
    @Scripts.Render(BundlePaths.JavaScript.CustomAppModules)
    @Scripts.Render(BundlePaths.JavaScript.Main)
</body>
</html>
